{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static "css/blueprint/screen.css" %}" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{% static "css/blueprint/print.css" %}" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="{% static "css/blueprint/ie.css" %}" type="text/css" media="screen, projection">
  <![endif]-->
{% block css %}
{% endblock %}
{% block script %}
{% endblock %}
<title>{% trans 'Corporations search tool -- TI Georgia' %}</title>
</head>
<body>
{% include 'nav.html' %}
{% if LANGUAGE_CODE != "ka" %}
<div id="message">{% trans 'Note: You are viewing this site in a language other than Georgian. Georgian letters have been converted for your convenience.' %}
</div>
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>
