{% load i18n %}
{% load strip_lang_from_url %}
<!DOCTYPE html>
<html>
<head>
{% block css %}
{% endblock %}
<title>{% trans 'Corporations search tool -- TI Georgia' %}</title>
</head>
<body>
{% if LANGUAGE_CODE != "ka" %}
<div id="message">{% trans 'Note: You are viewing this site in a language other than Georgian. Georgian letters have been converted for your convenience.' %}
</div>
{% endif %}

<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{% strip_lang_from_url %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
{% block content %}
{% endblock %}
</body>
</html>
