{% load i18n static %}

<div class="container">
    <p class="text-center row">{% trans 'Data available on this website is scraped from <a href="https://enreg.reestri.gov.ge/">https://enreg.reestri.gov.ge/</a>' %}</p>
    <p class="text-center row">{% trans 'This website is maintained with financial support from  the Swedish International Development Cooperation Agency (Sida).' %}</p>
    <p class="text-center row"><a class="" href="http://transparency.ge">
        <img src="{% static "img/tig-logo-ka.png" %}"/></a>
    <a class="" href="http://www.sida.se/English/">
        <img width="60px" height="60px" src="{% static "img/sida_logo.png" %}"/></a></p>
  
</div>
