{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css" media="screen, projection">
{% endblock %}
{% block script %}
<script src="{% static "js/geokbd.js" %}"></script>
{% endblock %}
{% block content %}
<div id="wrapper">
<div id="corporation-search">
<form id="corp-search-form" action="{% url 'corporation-search' %}" method="get">{% csrf_token %}
<h2>{% trans "Search registered corporations" %}</h2>
    {{ corpsearch.as_p }}
    <input type="submit" value="Search">
    <label for="geo_kbd_corp">{% trans "Georgian keyboard" %}</label>
    <input type="checkbox" name="geo" id="geo_kbd_corp" checked="checked">
</form>
<script>GeoKBD.map('corp-search-form');</script>
</div>
<div id="person-search">
<form id="person-search-form" action="{% url 'person-search' %}" method="get">{% csrf_token %}
<h2>{% trans "Search partners, directors, etc." %}</h2>
    {{ personsearch.as_p }}
    <input type="submit" value="Search">
    <label for="geo_kbd_pers">{% trans "Georgian keyboard" %}</label>
    <input type="checkbox" name="geo" id="geo_kbd_pers" checked="checked">
</form>
<script>GeoKBD.map('person-search-form');</script>
</div>
</div>
{% endblock %}
