{% load i18n %}
{% load strip_lang_from_url %}
<div id="navigation">
    <ul class="nav">
        <li><a href="{% url 'views.home' %}">{% trans "Home" %}</a></li>
    </ul>
</div>
<div id="lang-switch">
<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{% strip_lang_from_url %}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
</div>
