{% load i18n append_to_get %}
<div class="center-block">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="{% append_to_get page=page_obj.previous_page_number %}"
                   title="{% trans 'Previous page' %}">&laquo;</a></li>
        {% endif %}
        <li><a href="{% append_to_get page=page_obj.number %}">{{ page_obj.number }} / {{ paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li><a href="{% append_to_get page=page_obj.next_page_number %}"
                   title="{% trans 'Next page' %}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
