{% extends 'base.html' %} 
{% load staticfiles %} 
{% load i18n %} 
{% block script %}
	<script src="{% static "js/geokbd.js" %}"></script>
{% endblock %}

{% block content %}
	<div id="wrapper">
		{% if LANGUAGE_CODE != "ka" %}
	
		<p>
		Privacy of all individuals is respected.
		</p>
		<p> 
		The data collected and presented here is retrieved through open government data sources (<a href=https://enreg.reestri.gov.ge/>the public registry</a>) and in no way modified before publishing on this website. 
		Should an individual not want their data to be searchable, send a request by email to <a href=mailto:info@transparency.ge?Subject="companyinfo.ge privacy request">info@transparency.ge</a> with the subject line "companyinfo.ge privacy request". 
		The request should be accompanied with data allowing us to verify the identity of the requesting person (scan of ID for instance).
		</p>
			
		{% else %}
	
		<p>
		წარმოდგენილი მონაცემების წყაროს წარმოადგენს <a href=https://enreg.reestri.gov.ge/>საჯარო რეესტრი</a> და არ არის შესწორებული ჩვენ მიერ. 
		თუ თქვენ არ გსურთ თქვენი პერსონალური მონაცემები იყოს ხელმისაწვდომი ძიებისას, გამოგზავნეთ შეტყობინება მისამართზე: <a href=mailto:info@transparency.ge?Subject="companyinfo.ge privacy request">info@transparency.ge</a> სათაურით „companyinfo.ge კონფიდენციალური მონაცემები“. 
		შეტყობინებას თან უნდა ერთვოდეს თქვენი პიროვნების დამადასტურებელი რაიმე მოწმობა (მაგალითისთვის - პირადობის მოწმობის ასლი), 
		რომ შევძლოთ წერილის ავტორის და ვებსაიტზე წარმოდგენილი მონაცემის ვერიფიცირება.
		</p>
		
		{% endif %}
	
	</div>
{% endblock %}
