{% extends 'base.html' %} 
{% load staticfiles %} 
{% load i18n %} 
{% block script %}
	<script src="{% static "js/geokbd.js" %}"></script>
{% endblock %}

{% block content %}
	<div id="wrapper">
		{% if LANGUAGE_CODE != "ka" %}
	
		<p>
		All data presented on this site is a copy of that available at the <a href=https://enreg.reestri.gov.ge/>Public Registry</a>.
		</p>
		<p>
		<a href=http://www.transparency.ge>Transparency International Georgia</a> does not modify or amend the information in any way.
		</p>
	
		{% else %}
	
		<p>
		ვებსაიტზე არსებული ყველა მონაცემი გადმოტანილია   <a href=https://enreg.reestri.gov.ge/>საჯარო რეესტრის</a>  ვებსაიტიდან, სადაც მასალა აბსოლუტურად ხელმისაწვდომია.
		
		</p>
		<p>
		
		<a href=http://www.transparency.ge>საერთაშორისო გამჭვირვალობა – საქართველო</a> არ ახდენს ინფორმაციის მოდიფიცირებას ან/და ჩასწორებას.
		
		</p>
		
		{% endif %}
	
	</div>
{% endblock %}
